{% extends 'core/base.html' %}
{% block title %}Share File - File Sharing{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-5">
    <h1>Share "{{ file.name }}"</h1>
    <a href="{% url 'logout' %}" class="btn btn-secondary">Log Out</a>
</div>
<form method="post" class="d-grid gap-4" style="max-width: 600px;">
    {% csrf_token %}
    <div class="form-floating">
        {{ form.shared_with }}
        <label for="id_shared_with">Share with</label>
    </div>
    <button type="submit" class="btn btn-primary">Share</button>
</form>
<a href="{% url 'dashboard' %}" class="btn btn-secondary mt-4">Back to Dashboard</a>
{% endblock %}